@import url('https://fonts.googleapis.com/css?family=Heebo:700|Roboto&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2 {
    margin: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow: auto;
}
h1, a {
	color: #f1f1f1;
}

/* Panels Width */
[class*='col-'] {
    float: left;
}
.col-1-6 {
    width: calc(100% * 1 / 6);
}

.fechas {
  font-family: Helvetica, sans-serif;
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 48px 42px;
  text-transform: uppercase;
  height: 1%;
}

/* Side Bar */
.sidebar {
	height: 100%;
	min-height: 100%;
	position: fixed;
	z-index: 10;
	left: 0;
	background-color: #72616e;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
}

/* Sliding Panels */
.sliding-panels {
	height: 100%;
	position: fixed;
  font-family: 'Heebo', sans-serif;
  font-size: 32px;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sliding-panels:hover {
	opacity: 0.9;
}
.title {
	text-align: left;
  padding: 16.5% 13%;
  line-height: 43px;
  margin: 0;
  margin-top: 0;
  display: block;
  margin-inline-start: 0px;
  font-weight: bold;

}
.panel1 {
	left: calc(100% * 1 / 6);
	background-color: #e8846b;
}
.panel2 {
	left: calc(100% * 2 / 6);
	background-color: #16528e;
}
.panel3 {
	left: calc(100% * 3 / 6);
	background-color: #e54b4b;
}
.panel4 {
	left: calc(100% * 4 / 6);
	background-color: #a2c5bf;
}
.panel5 {
	left: calc(100% * 5 / 6);
	background-color: #167c80;
}
.panel-active {
	left: calc(100% * 1 / 6);
}
.panel-push-left {
	left: 0;
}
.panel-push-right {
	left: 100%;
}

.topnav {
  overflow: hidden;
  background-color: white;
  height: 52px;
  font-family: "Helvetica" ,sans-serif;
  color: grey;
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;

}

.topnav a {
  float: left;
  color: grey;
  text-align: center;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.h5 {
  font-family: "Roboto";
}
.logo{
  border:3px solid #000;
  color:#000;
  display:inline-block;
  font-family:'icons';
  font-size:25px;
  height:22px;
  left:50%;
  margin:15px 0 0 -12px;
  position:absolute;
  text-decoration:none;
  top:0;
  -webkit-transform:rotate(0);
  transform:rotate(0);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transition:border .3s, -webkit-transform .3s ease-out;
  transition:border .3s,transform .3s ease-out;
  width:22px;z-index:2
}

.top-nav .logo:after {
    background:#000;
    border-radius:10px;
    content:'';
    height:10px;
    left:3px;
    position:absolute;
    -webkit-transition:background .3s;
    transition:background .3s;
    top:3px;
    width:10px
    }
.top-nav .logo:hover,.top-nav .logo.bounce {
  -webkit-transform:rotate(270deg);
  transform:rotate(270deg)
}

.mm .top-nav .logo {
  border:none;
  border-radius:0;
  height:24px;
  margin-top:13px;
  -webkit-transform-origin:50% 100%;
  transform-origin:50% 100%;
  -webkit-transition:color .3s;
  transition:color .3s;width:24px
}
.mm .top-nav .logo:after {
  background:0 0;
  content:'m';
  left:0;
  position:absolute;
  top:0
}
.mm .top-nav .logo:hover,.mm .top-nav .logo.bounce {
  -webkit-animation:logo-jump .5s 1;
  animation:logo-jump .5s 1;
  -webkit-transform:none;
  transform:none
}
.lab .top-nav .logo {
  border-color:#fff;
  color:#fff
}
.lab .top-nav .logo:after {
  background:#fff
}
.lab.mm .top-nav .logo:after {
  background:0 0
}
